fieldset {
    width: 50%;
    margin: auto;
    background-color: #6d5d5d;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding: 3px;
}

@media screen and (max-width: 470px) {
    fieldset {
        width: 100%;
    }
}

html,
body {
    padding: 0;
    color: #c5a7a1;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

main {
    background-color: #c5a7a1;
    color: white;
    height: 85%;
    padding: 0;
    padding-top: 60px;
}

@media screen and (max-width:470px) {

    html,
    body {
        padding: 0;
        color: #c5a7a1;
        height: 100%;
        font-family: 'Times New Roman', Times, serif;
        background-color: #c5a7a1;
    }
}

footer {
    background-color: #2b241f;
    color: azure;
    height: 15%
}

.pad {
    padding-top: 1px
}

footer a {
    padding: 0 5px;
    color: blanchedalmond;
}

div>input {
    margin: 3px;
    width: 95%;
}

a {
    outline: none;
    text-decoration: none;
}

.deco {
    color: rgb(255, 255, 255);
    background-color: darkred;
    border: 2px black solid;
    padding: 4px;
}