fieldset {
    width: 50%;
    margin: auto;
    background-color: rgb(168, 174, 191);
    border: 2px solid black;
    border-radius: 20px;
    padding: 15px;
}

@media screen and (max-width: 470px) {
    fieldset {
        width: 100%;
    }
}

#mainCarousel {
    width: 75%;
    margin: auto;
    border: 2px solid black;
}

html,
body {
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

main {
    background-color: rgb(235, 245, 249);
    padding: 0;
    padding-top: 60px;
}

footer {
    background-color: #1f2a2b;
    color: azure;
}

.pad {
    padding-top: 1px;
}

footer a {
    padding: 0 5px;
    color: rgb(205, 213, 255);
}

.bdd {
    background-color: rgb(158, 187, 215);
    border: 2px solid black;
    border-radius: 20px;
    padding: 4px;
    margin: 5px;
}

.joie {
    text-decoration: none;
    color: black;
}

.decol {
    color: rgb(255, 255, 255);
    background-color: darkgrey;
    border: 2px black solid;
    padding-left: 28px;
    padding-right: 28px;
}

a {
    outline: none;
    text-decoration: none;
}

.deco {
    color: rgb(255, 255, 255);
    background-color: darkred;
    border: 2px black solid;
    padding: 4px;
}

.bout {
    height: 10%;
}