article {
    background-color: #454a52;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

html,
body {
    padding: 0;
    color: white;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

main {
    background-color: #a1b5c5;
    padding: 0;
    padding-top: 60px;
}

footer {
    background-color: #1f212b;
    color: azure;
}

.pad {
    padding-top: 1px
}

footer a {
    padding: 0 5px;
    color: blanchedalmond;
}

.bdd {
    padding: 17px;
    text-align: center;
    background-color: #8b94af;
    margin: 5px 0;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

a {
    color: white;
}

.joie {
    text-decoration: none;
    color: black;
}

.hauteur {
    height: auto;
}

@media screen and (max-width:470px) {
    .hauteur {
        height: auto;
        width: 90%;
    }
}


